Package: com.hama.outlaw.spy
Name: Outlaw Pure Spy
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Pure DYLD_INTERPOSE Forensic Tool
Maintainer: Hama
Author: Hama
Section: Tweaks
